* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: seagreen;
  --orange: rgb(230, 133, 89);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  text-transform: capitalize;
  color: var(--orange);
  font-size: 3em;
}

.btns {
  display: flex;
  height: 3em;
  margin: 2em;
  min-width: 50%;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.btn {
  padding: 1em;
  text-transform: capitalize;
  color: var(--green);
  border: none;
  border-radius: 30%;
}

.btn:hover {
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 0.3em solid var(--orange);
  font-weight: bold;
}

.input-search {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.5em;
  height: 3em;
  border: 0.2em solid var(--green);
  border-radius: 0.5em;
  color: var(--orange);
  outline: none;
}

input::placeholder {
  text-transform: capitalize;
  padding: 0.2em;
  text-align: justify;
  color: var(--orange);
  font-weight: bold;
  font-style: italic;
  opacity: 0.5;
}

.menu {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
  align-self: center;
  margin: 3em auto;
}

.card {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 2em;
}

.photo {
  width: 100%;
  height: 10em;
  object-fit: cover;
}

.info {
  display: grid;
  grid-template-rows: repeat(1fr);
  gap: 0.2em;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title p {
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: bold;
  text-align: justify;
  color: var(--orange);
}

.price {
  font-size: 0.8em;
  color: var(--green);
}

.ingredients {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--green);
  text-transform: capitalize;
}

.desc {
  text-align: justify;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.ingredients-list {
  display: flex;
  list-style: none;
  padding-top: 0.5em;
}

.no-match-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-matches {
  margin: 3em auto;
  text-align: justify;
  color: var(--green);
  font-size: 1.2em;
}

@media screen and (max-width: 1400px) {
  .menu {
    grid-template-columns: 1fr;
    width: 50%;
  }

  .card {
    grid-template-columns: 1fr 1.5fr;
    gap: 1em;
  }
}

@media screen and (max-width: 820px) {
  .menu {
    margin: 2em auto;
    width: 60%;
  }

  .no-match-menu {
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .btns {
    gap: 0.2em;
  }

  .btn {
    padding: 0.5em;
  }

  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 400px) {
  .menu {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
}
